$bg-container: #e0e7ff;
$bg-box: #151d30;
$bg-secondary: lighten($bg-box, $amount: 7);
$primary: #14b8a6; //#50d8d6;
$info: #06b6d4; //789eca;
$danger: #f43f5e; //dbb4a5;
$secondary: #a1a1aa;
$gradient: ((#ed66c4, #f15589), (#397ddc, #57cfa7), (#ad60ce, #7352be), (#36b0f1, #7867f0), (#ee7263, #f7bd73));
$square-position: ((65%, -3.2rem), (-2.8rem, 65%), (-3.4rem, -3.4rem), (67%, 67%), (-1rem, -3.5rem));
$circle-position: ((-2.2rem, 55%), (40%, -2rem), (0, 70%), (-2.7rem, 0), (50%, 60%));
