@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "variables";
@import "mixin";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
hr {
    background-color: lighten($secondary, 30);
    height: 1px;
    border: 0;
}
.text-primary {
    color: $primary !important;
}
.text-secondary {
    color: $secondary !important;
}
.text-info {
    color: $info !important;
}
.text-danger {
    color: $danger !important;
}

.bg-primary {
    background: $primary !important;
}
.bg-secondary {
    background: $secondary !important;
}
.bg-info {
    background: $info !important;
}
.bg-danger {
    background: $danger !important;
}

.container {
    height: 100%;
    width: 100%;
    background-color: $bg-container;
    @include center;
}
.box {
    position: relative;
    width: 80%;
    height: 90%;
    display: flex;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0px 50px 40px -45px rgba($bg-box, 0.8);
    background-color: $bg-box;
}
.btn {
    position: relative;
    cursor: pointer;
    color: white;
    border: none;
    &:focus {
        outline: none;
    }
    &-icon {
        background: $bg-secondary;
        box-sizing: unset;
        border-radius: 0.5rem;
        position: absolute;
        cursor: pointer;
        top: 20px;
        left: 20px;
        width: 25px;
        padding: 0.3rem;
    }
}
.first-section {
    @include center("center", "start");
    flex-direction: column;
    width: 50%;
    transform: scale(0.9);
    height: 100% !important;
    padding: 7rem;
    & h1 {
        font-size: 2rem;
        color: white;
    }
    & > p {
        font-size: 0.82rem;
        color: lighten($bg-box, 55);
    }
    .dot-img {
        position: absolute;
        bottom: -7rem;
        left: 6rem;
        width: 10rem;
        opacity: 0.4;
    }
    .input-box {
        position: relative;
        width: 100%;
        margin-top: 1rem;
        & input {
            width: 100%;
            padding: 1rem;
            background: $bg-secondary;
            padding-left: 3rem;
            font-size: 1rem;
            color: white;
            border: none;
            border-radius: 1.2rem;
            &::placeholder {
                color: lighten($bg-box, 70);
            }
            &:focus {
                outline: none;
            }
        }
        & .input-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 13px;
            width: 25px;
            color: lighten($bg-box, 70);
        }
    }
    .projects {
        color: lighten($bg-box, 60);
        margin-top: 5rem;
        width: 100%;
        & h3 {
            color: white;
            display: inline;
        }
        .project {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-basis: calc(100% / 3);
            &-content {
                padding: 1rem 0;
                margin: 0 0.1px;
                $i: 1;
                @each $color1, $color2 in $gradient {
                    &:nth-child(#{$i}) {
                        & .project-box {
                            background-image: linear-gradient(to bottom left, $color1, $color2) !important;
                        }
                    }
                    $i: $i + 1;
                }
                $j: 1;
                @each $left, $top in $square-position {
                    &:nth-child(#{$j}) {
                        & .square {
                            left: $left;
                            top: $top;
                        }
                    }
                    $j: $j + 1;
                }
                $k: 1;
                @each $left, $top in $circle-position {
                    &:nth-child(#{$k}) {
                        & .circle {
                            left: $left;
                            top: $top;
                        }
                    }
                    $k: $k + 1;
                }
            }
            & .outline {
                padding: 0.25rem;
                border-radius: 1rem;
                border: 2px solid cyan;
                & ~ .project-label {
                    margin-top: 0.5rem;
                }
            }
            &-box {
                @include center;
                position: relative;
                width: 5rem;
                height: 5rem;
                border-radius: 1rem;
                color: white;
                box-sizing: content-box;
                background: #3b4055;
                & span {
                    z-index: 2;
                    font-weight: bolder;
                    font-size: 1.3rem;
                }
                &.badge::before {
                    content: "";
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: white;
                    border: 3.8px solid $bg-box;
                }
            }
            &-label {
                text-align: center;
                font-size: 0.8rem;
                width: 100%;
                margin-top: 1.2rem;
            }
            .shape {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: inherit;
            }
            .square {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
                border: 1rem solid rgba(255, 255, 255, 0.1);
            }
            .circle {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
                border: 1rem solid rgba(255, 255, 255, 0.1);
                border-radius: 50%;
            }
        }
    }
}
.second-section {
    position: relative;
    background: white;
    width: 50%;
    margin: 10px;
    padding: 4rem;
    border-radius: inherit;
    & h1 {
        font-size: 1.6rem;
    }
    & p {
        font-size: 0.8rem;
        color: $secondary;
    }
    .description {
        display: flex;
        align-items: flex-start;
    }
    .avatar-group {
        display: flex;
        align-items: center;
        & .avatar {
            background: $primary;
            width: 35px;
            height: 35px;
            overflow: hidden;
            border: 2px solid white;
            border-radius: 50%;
            z-index: unset;
            &:nth-child(1) {
                z-index: 3;
            }
            &:nth-child(2) {
                z-index: 2;
            }
            &:nth-child(3) {
                z-index: 1;
            }

            &:not(:first-child) {
                margin-left: -10px;
            }
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .avatar-plus {
            color: lighten($secondary, 15);
            width: 28px;
            height: 28px;
        }
    }
    .list-container {
        margin-bottom: 0.5rem;
        margin-top: 3rem;
    }
    .list-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & svg {
            width: 2rem;
            color: $secondary;
        }
    }
    .checklist {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        &-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 7px 0;
            .checkbox-container {
                display: block;
                position: relative;
                padding-left: 35px;
                cursor: pointer;
                flex-grow: 1;
                font-size: 0.85rem;
                color: $secondary;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                & input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                    &:checked ~ .checkmark {
                        background-color: $primary;
                        &:after {
                            display: block;
                        }
                    }
                }
            }
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: thin solid $secondary;
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                &:after {
                    left: 6px;
                    top: 2px;
                    width: 4px;
                    height: 9px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
            .btn-status {
                padding: 5px 15px;
                width: 20%;
                white-space: nowrap;
                background: transparent;
                color: $info;
                border-radius: 1rem;
                font-size: 0.7rem;
                &::before {
                    content: "";
                    border-radius: inherit;
                    position: absolute;
                    inset: 0;
                    background: currentColor;
                    opacity: 0.2;
                }
            }
        }
    }
    .btn-fixed {
        position: absolute;
        display: inline-flex;
        bottom: 20px;
        right: 20px;
        background: #6366f1;
        padding: 10px;
        border-radius: 1rem;
        box-shadow: -6px 8px 30px 3px rgba(#6366f1, 0.8);
        -webkit-box-shadow: -6px 8px 30px 3px rgba(#6366f1, 0.8);
        -moz-box-shadow: -6px 8px 30px 3px rgba(#6366f1, 0.8);
    }
}
