@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #e0e7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  position: relative;
  width: 80%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 50px 40px -45px rgba(21, 29, 48, 0.8);
          box-shadow: 0px 50px 40px -45px rgba(21, 29, 48, 0.8);
  background-color: #151d30;
}

.btn {
  cursor: pointer;
  color: white;
  border-radius: 0.5rem;
}

.btn-icon {
  background: #202c49;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  border-radius: inherit;
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 20px;
  width: 25px;
  padding: 0.3rem;
}

.first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  height: 100% !important;
  padding: 7rem;
}

.first-section h1 {
  font-size: 2rem;
  color: white;
}

.first-section > p {
  font-size: 0.82rem;
  color: #8fa2ce;
}

.first-section .dot-img {
  position: absolute;
  bottom: -7rem;
  left: 6rem;
  width: 10rem;
  opacity: 0.4;
}

.first-section .input-box {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.first-section .input-box input {
  width: 100%;
  padding: 1rem;
  background: #202c49;
  padding-left: 3rem;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 1.2rem;
}

.first-section .input-box input::-webkit-input-placeholder {
  color: #c5cee5;
}

.first-section .input-box input:-ms-input-placeholder {
  color: #c5cee5;
}

.first-section .input-box input::-ms-input-placeholder {
  color: #c5cee5;
}

.first-section .input-box input::placeholder {
  color: #c5cee5;
}

.first-section .input-box input:focus {
  outline: none;
}

.first-section .input-box .input-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 13px;
  width: 25px;
  color: #c5cee5;
}

.first-section .projects {
  color: #a1b1d6;
  margin-top: 5rem;
  width: 100%;
}

.first-section .projects h3 {
  color: white;
  display: inline;
}

.first-section .projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
}

.first-section .projects .project-content {
  padding: 1rem 0;
  margin: 0 0.1px;
}

.first-section .projects .project-content:nth-child(1) .project-box {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#ed66c4), to(#f15589)) !important;
  background-image: linear-gradient(to bottom left, #ed66c4, #f15589) !important;
}

.first-section .projects .project-content:nth-child(2) .project-box {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#397ddc), to(#57cfa7)) !important;
  background-image: linear-gradient(to bottom left, #397ddc, #57cfa7) !important;
}

.first-section .projects .project-content:nth-child(3) .project-box {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#ad60ce), to(#7352be)) !important;
  background-image: linear-gradient(to bottom left, #ad60ce, #7352be) !important;
}

.first-section .projects .project-content:nth-child(4) .project-box {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#36b0f1), to(#7867f0)) !important;
  background-image: linear-gradient(to bottom left, #36b0f1, #7867f0) !important;
}

.first-section .projects .project-content:nth-child(5) .project-box {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#ee7263), to(#f7bd73)) !important;
  background-image: linear-gradient(to bottom left, #ee7263, #f7bd73) !important;
}

.first-section .projects .project-content:nth-child(1) .square {
  left: 65%;
  top: -3.2rem;
}

.first-section .projects .project-content:nth-child(2) .square {
  left: -2.8rem;
  top: 65%;
}

.first-section .projects .project-content:nth-child(3) .square {
  left: -3.4rem;
  top: -3.4rem;
}

.first-section .projects .project-content:nth-child(4) .square {
  left: 67%;
  top: 67%;
}

.first-section .projects .project-content:nth-child(5) .square {
  left: -1rem;
  top: -3.5rem;
}

.first-section .projects .project-content:nth-child(1) .circle {
  left: -2.2rem;
  top: 55%;
}

.first-section .projects .project-content:nth-child(2) .circle {
  left: 40%;
  top: -2rem;
}

.first-section .projects .project-content:nth-child(3) .circle {
  left: 0;
  top: 70%;
}

.first-section .projects .project-content:nth-child(4) .circle {
  left: -2.7rem;
  top: 0;
}

.first-section .projects .project-content:nth-child(5) .circle {
  left: 50%;
  top: 60%;
}

.first-section .projects .project .outline {
  padding: 0.25rem;
  border-radius: 1rem;
  border: 2px solid cyan;
}

.first-section .projects .project .outline ~ .project-label {
  margin-top: 0.5rem;
}

.first-section .projects .project-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  color: white;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: #3b4055;
}

.first-section .projects .project-box span {
  z-index: 2;
  font-weight: bolder;
  font-size: 1.3rem;
}

.first-section .projects .project-box.badge::before {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: 3.8px solid #151d30;
}

.first-section .projects .project-label {
  text-align: center;
  font-size: 0.8rem;
  width: 100%;
  margin-top: 1.2rem;
}

.first-section .projects .project .shape {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
}

.first-section .projects .project .square {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 1rem solid rgba(255, 255, 255, 0.1);
}

.first-section .projects .project .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 1rem solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.second-section {
  background: white;
  width: 50%;
  margin: 10px;
  padding: 4rem;
  border-radius: inherit;
}

.second-section h1 {
  font-size: 1.6rem;
}

.second-section p {
  font-size: 0.8rem;
  color: #a1a1aa;
}

.second-section .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.second-section .avatar-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-section .avatar-group .avatar {
  background: #14b8a6;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 50%;
  z-index: unset;
}

.second-section .avatar-group .avatar:nth-child(1) {
  z-index: 3;
}

.second-section .avatar-group .avatar:nth-child(2) {
  z-index: 2;
}

.second-section .avatar-group .avatar:nth-child(3) {
  z-index: 1;
}

.second-section .avatar-group .avatar:not(:first-child) {
  margin-left: -10px;
}

.second-section .avatar-group .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.second-section .avatar-group .avatar-plus {
  color: #c9c9ce;
  width: 28px;
  height: 28px;
}
/*# sourceMappingURL=main.css.map */